*{
    margin: 0;
    border: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Mate SC', serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

/*              HEADER                 */

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgb(224, 195, 252, 0.4) 0%, rgb(142, 197, 252, 0.4) 100%),url(../img/Tienda.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.head{
    text-align: center;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.icono-menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(135deg, #e0c3fc66 0%, #8ec5fc66 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
	transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*                PORTAFOLIO                  */

.galeria{
    background: #4ca1a3;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #287475;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: 10px;
}

/*              FOOTER                */

footer{
    background: #6b2c9c;
    padding-bottom: 0.1px; /*Este padding lo ponemos por el colapsado de margenes*/
}

.contenido-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contactar{
    width: 40%;
    color: #fff;
}

.marca{
    font-weight: 300;
    font-size: 40px;
}

.contactar p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icono{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icono:hover{
    background: #fff;
    color: #6b2c9c;
}

.social-media-icono i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}